@tailwind base;
@tailwind components;
@tailwind utilities;


.link-offset-3, .link-offset-3-hover:hover {
    text-underline-offset: .375em !important;
}

::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #16161c;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666791;
}